<!DOCTYPE html>
<html>

<head>

<title>Contato</title>

<link rel="stylesheet" href="/style.css">

</head>

<body>

<header class="navbar">

<div class="logo">

<div class="circle"></div>

<h1>EventHub</h1>

</div>

<nav>

<a href="/">Início</a>

<a href="/eventos.html">Eventos</a>

<a href="/participantes.html">Participantes</a>

<a href="/contato.html">Contato</a>

</nav>

</header>

<section class="generic-page">

<div class="glass-box">

<h2>Contato</h2>

<p>

Entre em contato com nossa equipe.

</p>

<form>

<input placeholder="Nome">

<input placeholder="Email">

<textarea placeholder="Mensagem"></textarea>

<button>

Enviar

</button>

</form>

</div>

</section>

</body>

</html>